* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  background: #333;
}

.subjects {
  display: flex;
  flex-flow: wrap;
  gap: 20px;
}

.subject {
  padding: 20px;
  border: 2px solid #fff;
}

.subject .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.subject h2 {
  margin-bottom: 5px;
  text-align: center;
}

.subject table {
  border-collapse: collapse;
}

.subject table td {
  border: 1px solid #fff;
  padding: 10px;
  text-align: center;
}